<footer>
  <p>Please contact the <a href="mailto:Richie1988@gmail.com">Webmaster</a> with any questions or issues using this site</p>
  <p>All content on this site is used for educational purposes</p>
  <p>Copyright Richard Wu 2018, all rights reserved</p>
</footer>
