<div class="signup">
    <form class = "form">
      Sign up for our mailing list to receive our full catalog, and be notified of our promotions!<br>
      <input type = 'email' style = 'margin-top: 10px;' name='email'><br>
      <input class = 'btn btn-primary' style = 'margin-top: 10px;' type='submit' value = 'Submit'>
    </form>
</div>
