<form>
  Sign up for our mailing list to receive our full catalog, and be notified of our promotions!<br>
  <input type='email' name='email'><br>
  <input style = 'margin-top: 7px;' type='submit'>
</form>
