<style media="screen">
  .splashvideo {
    position: sticky;
    max-height: 80vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Lora', serif;
    color: white;
    text-shadow: 0 0 25px #611b01;
  }

  .video {
    position: relative;
    bottom: 15%;
    width: 100%;
  }

  .splashvideo h2 {
    position: absolute;
    font-size: 4em;
    top: 15%;
    left: 11%;
    font-weight: 550;
    opacity: .8;
  }

  .splashvideo h4 {
    position: absolute;
    font-size: 2.6em;
    bottom: 20%;
    right: 8%;
    opacity: .8;
  }

  #contact {
    background-color: #39383c;
    font-family: 'Lora', serif;
    margin: auto;
    padding: 0% 10vw;
    color: white;
    opacity: .93;
    padding-top: 2em;
  }
</style>
<div class = "splashvideo">
  <video class = "video" autoplay muted>
    <source src="assets/cookie.mp4" type="video/mp4">
  </video>
  <div style = "overflow: hidden;">
    <h2>Welcome Home</h2>
    <h4>We made something for you...</h4>
  </div>
</div>
<div class = "container centertext margin">
  <h3 id = "about" class = "header">About Us</h3>
  <div class = "row">
    <div class="col-6" style = "background-image: url('assets/baker.jpg'); background-size: cover;">
    </div>
    <div class="col-6" style = "padding: 2em;">
      <h4 class = "header">Our History</h4>
      <p class = "sans">Since 2004, Jamie Wilcox has been baking in the Red Hook area. After having studied at the Culinary Institute of America, Jamie is now continuing her grandmother Polly's baking tradition. With over 200 followers on Instagram, as well as a 2,000 sqft. kitchen, Jamie is passionate about experimenting with the freshest ingredients and producing exotic tastes from all corners of the globe.
      </p>
    </div>
  </div>
</div>
<h3 class = "header centertext">Contact Info</h3>
<div class="row centertext" id = "contact">
  <div class="col-4">
    <h4>Address</h4>
    <p></p>
  </div>
  <div class="col-4">
    <h4>Social Media</h4>
  </div>
  <div class="col-4">
    <h4>Newsletter</h4>
  </div>
</div>
