<style media="screen">
  .splashvideo {
    width: 100%;
    height: 75vh;
    overflow: hidden;
  }

  video {
    position: relative;
    bottom: 2%;
    width: 100%;
  }
</style>
<div class = "splashvideo">
  <video autoplay muted>
    <source src="assets/cookie.mp4" type="video/mp4">
  </video>
</div>
