<nav>
  <ul>
    <a href = "/cakes"><li>Cakes</li></a>
    <a href = "/cookies"><li>Cookies</li></a>
    <a href = "/muffins"><li>Muffins</li></a>
  </ul>
  <a href = "/index"><img src="/assets/logo.png" alt="logo"/></a>
  <ul>
    <a href = "/index#about"><li>About</li></a>
    <a href = "/index#contact"><li>Contact</li></a>
  </ul>
</nav>
