<div class="row nav boxshadow">
  <div class="col-sm-12 col-md-4 col-lg-5 nav">
    <ul>
      <a href = "/cakes"><li>Cakes</li></a>
      <a href = "/cookies"><li>Cookies</li></a>
      <a href = "/muffins"><li>Muffins</li></a>
    </ul>
  </div>
  <a href = "/" class="col-sm-12 col-md-4 col-lg-2 nav image">

  </a>
  <div class="col-sm-0 col-md-4 col-lg-5 nav">
    <ul>
      <a href = "/#about"><li>About</li></a>
      <a href = "/#contact"><li>Contact</li></a>
    </ul>
  </div>
</div>
