@import url('https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Lobster|Lora|Pacifico|Mitr');

.boxshadow {
    box-shadow: 0 3px 20px gray;
}

.image {
  background-image: url('assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.row {
  width: 100%;
}

.nav {
  margin: 0;
  padding: 0;
  font-family: 'Charmonman', cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
}

.nav a {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
}

.nav a:hover {
  transition: color .2s;
  color: #d42a2a;
}

.nav>ul {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav>a {
  height: 100%;
  width: auto;
  display: inline-block;
}

.nav img {
  height: 100%;
  width: auto;
}

.nav li {
  padding: 0;
  display: inline-block;
}

footer {
  background-color: white;
  font-size: .8em;
  font-family: 'Lora', serif;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 1.2em 0;
}

footer p {
  margin-bottom: 0;
  text-align: center;
}

.header {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Lora", serif;
  font-weight: 500;
}

.productdisplay {
  margin: 1.5em auto;
  min-height: 40vh;
  font-family: 'Lora', serif;
}

.centertext {
  text-align: center;
}

.productimage {
  height: 200px;
  margin-bottom: 1em;
  background-position: bottom;
}
